.history {
    margin-top: 100px;
    padding: 0 10%;
    margin-bottom: 5rem;

    && .history__container {

        && .head-title {
            color: #212ea0;
            width: 90%;
            font-size: 5rem;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        && .p-text {
            font-size: 2rem;
            font-family: "Roboto Slab", serif;
            font-style: italic;
            text-align: center;
            color: #dddddd;
            background-color: rgba(0, 0, 255, 0.616);
            padding: .5rem 1rem;
            width: fit-content;
        }

        && .about-name {
            background: white;
            width: 100%;
            padding: 1rem;
            flex-wrap: wrap;

            && article {
                position: relative;
                width: 50%;
            }

            && .logo {    
                position: relative;
                width: 50%;
                align-items: flex-start;

                && img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .dual-education{
        color: #3d3d3d;
    }

    .school-mission-statement {
        color: #3d3d3d;
        width: 100%;
        
        && ul {
            margin: 1.5rem;
            text-align: justify;

            && li {
                margin: .5rem;
            }
        }
    }
}

@media (max-width:1024px) {
    .history .history__container .about-name {
        flex-direction: column-reverse !important;
        align-items: center;

        && article {
            width: 100% !important;
        }         

        && .logo {
            width: 100% !important;
        }
    }
}
