.actualities {
    margin-top: 6rem;
    padding: 0 10%;
    flex-direction: column;
    color: #3d3D3D;

    && .about-name {
        justify-content: center;
    }

    && .actualities__container {

        && .head-title {
            color: #212ea0;
            width: 90%;
            font-size: 5rem;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        && .p-text {
            font-size: 2rem;
            font-family: "Roboto Slab", serif;
            font-style: italic;
            text-align: center;
            color: #dddddd;
            background-color: rgba(0, 0, 255, 0.616);
            padding: .5rem 1rem;
            width: fit-content;
        }
    }
}

/* photo-gallery.css */

.photo-gallery {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .photo-gallery h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    flex-basis: 25%; 
    margin: 10px;
  }
  
  .gallery-item img {
    width: 300px;
    height: auto;
    object-fit: cover; 
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }
  
  .gallery-item img:hover {
    opacity: 0.8; 
  }
  